Repository cisagov/skeleton-generic, pull requests merged in 2021-06, with the labels that each got.

#71 Update pre-commit Hooks
  .pre-commit-config.yaml
Labels: blocked, upstream update

#72 Remove User from CODEOWNERS
  .github/CODEOWNERS
Labels: blocked

#75 Update Instructions for Configuring pyenv
  CONTRIBUTING.md
Labels: bug, documentation

#70 Improve gitignore file comments and organization.
  .gitignore
Labels: documentation, improvement
