Repository cisagov/skeleton-generic, pull requests merged in 2023-09, with the labels that each got.

#138 Add go packages for pre-commit
  .github/workflows/build.yml
Labels: improvement, kraken 🐙

#139 Use the correct repo name for the ansible-lint pre-commit hook
  .pre-commit-config.yaml
Labels: improvement, kraken 🐙

#140 Update the Dependabot configuration
  .github/dependabot.yml
Labels: improvement, kraken 🐙

#141 Delete duplicate word "are"
  .bandit.yml
Labels: documentation, kraken 🐙

#143 Add nixfmt pre-commit hook
  .pre-commit-config.yaml
Labels: improvement, kraken 🐙, security

#146 Update the version of the `crazy-max/ghaction-github-labeler` Action and add a dependabot ignore directive
  .github/dependabot.yml
  .github/workflows/sync-labels.yml
Labels: improvement, dependencies, kraken 🐙, github-actions

#142 Update `pre-commit` hooks
  .pre-commit-config.yaml
Labels: dependencies, kraken 🐙

#148 Change the source repository for the `black` hook
  .pre-commit-config.yaml
Labels: improvement, dependencies, kraken 🐙

#144 Add a job that runs diagnostics
  .github/dependabot.yml
  .github/workflows/build.yml
Labels: improvement, kraken 🐙
