Repository cisagov/skeleton-generic, pull requests merged in 2023-06, with the labels that each got.

#135 Add apostrophe to Qapla
  setup-env
Labels: documentation, improvement, kraken 🐙

#136 Update `pre-commit` hooks
  .pre-commit-config.yaml
Labels: dependencies, kraken 🐙

#132 Fix two broken links
  .ansible-lint
Labels: bug, documentation, kraken 🐙

#134 Detecting virtualenv installation successfully
  setup-env
Labels: improvement, kraken 🐙

#137 Update the configuration for `setup-go` in our GitHub Actions workflow
  .github/workflows/build.yml
Labels: improvement, kraken 🐙, github-actions

#133 Add Go hooks
  .pre-commit-config.yaml
Labels: improvement, kraken 🐙, security
