Repository cisagov/skeleton-generic, pull requests merged in 2023-04, with the labels that each got.

#130 Use Python 3.11 for the `lint` job in the `build` workflow
  .github/workflows/build.yml
Labels: improvement, kraken 🐙, test

#129 Update `pre-commit` hooks
  .pre-commit-config.yaml
Labels: dependencies, kraken 🐙

#126 Install/upgrade setuptools and wheel when upgrading pip
  .github/workflows/build.yml
Labels: improvement, kraken 🐙, github-actions
