Repository cisagov/skeleton-generic, pull requests merged in 2024-03, with the labels that each got.

#150 Add a diagnostics job for the label syncing workflow
  .github/workflows/sync-labels.yml
Labels: improvement, kraken 🐙, github-actions, security

#151 Make the dev team the owners of the linter configuration files
  .github/CODEOWNERS
Labels: improvement, kraken 🐙, security

#156 Improve merge queue support
  .github/workflows/build.yml
Labels: improvement, kraken 🐙, github-actions

#161 Update `pre-commit` hooks
  .pre-commit-config.yaml
Labels: dependencies, kraken 🐙

#162 Set the default `shell` for all `run` steps in the `build` workflow
  .github/workflows/build.yml
Labels: improvement, kraken 🐙, github-actions

#166 Allow setup-env to specify Python version
  CONTRIBUTING.md
  setup-env
Labels: breaking change, improvement, kraken 🐙

#157 Use `cisagov/setup-env-github-action` to provide the Python and Go versions to use
  .github/workflows/build.yml
Labels: improvement, kraken 🐙, github-actions

#160 Switch the pre-commit hook used to run `shfmt`
  .github/workflows/build.yml
  .pre-commit-config.yaml
Labels: improvement, dependencies, kraken 🐙, github-actions

#163 Add a pre-commit hook to run `goimports`
  .github/workflows/build.yml
  .pre-commit-config.yaml
Labels: improvement, dependencies

#164 Add ATX Header Support for `terraform-docs`
  .github/workflows/build.yml
Labels: documentation, improvement

#168 Switch the pre-commit hook used to run `shellcheck`
  .pre-commit-config.yaml
Labels: improvement, dependencies, kraken 🐙, test
