Repository cisagov/skeleton-generic, pull requests merged in 2024-09, with the labels that each got.

#176 Add checks for correct semantic version of Python
  setup-env
Labels: improvement

#187 Use an Action to install Packer in our GitHub Actions workflows
  .github/workflows/build.yml
Labels: improvement, kraken 🐙, github-actions

#188 Remove @jasonodoom as a codeowner
  .github/CODEOWNERS
Labels: kraken 🐙

#178 Add the `check-useless-excludes` hook to the pre-commit configuration
  .pre-commit-config.yaml
Labels: improvement, dependencies, kraken 🐙

#179 Add a pre-commit hook to run `pip-audit`
  .pre-commit-config.yaml
Labels: improvement, dependencies, kraken 🐙

#184 Add a lower-bound pin for the `flake8-docstrings` `pip` package
  .pre-commit-config.yaml
Labels: dependencies, kraken 🐙

#185 Update `pre-commit` hooks
  .pre-commit-config.yaml
Labels: dependencies, kraken 🐙
