Repository cisagov/skeleton-generic, pull requests merged in 2025-03, with the labels that each got.

#198 Fix spelling error in comment
  setup-env
Labels: documentation, kraken 🐙

#200 Update our yamllint configuration file
  .github/labels.yml
  .github/workflows/build.yml
  .github/workflows/sync-labels.yml
  .mdl_config.yaml
  .yamllint
Labels: breaking change, improvement, kraken 🐙, security

#201 Apply our standard job preamble via cisagov/action-job-preamble
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/sync-labels.yml
Labels: improvement, kraken 🐙, github-actions

#202 Add a CodeQL workflow to this repository
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
Labels: improvement, kraken 🐙, github-actions, security

#203 Add a workflow to run `actions/dependency-review-action`
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Labels: improvement, kraken 🐙, github-actions, security

#204 Add version file and `bump-version` script
  bump-version
  requirements-dev.txt
  version.txt
Labels: improvement, dependencies, kraken 🐙

#206 Do not disable GitHub permissions monitoring by default
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/sync-labels.yml
Labels: github-actions, security
